@tailwind base;
@tailwind components;
@tailwind utilities;


.hover\:underline-hover:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* İstenen kalınlık değeri */
}

.sip{
  padding-top: 600px;
}
.white-header {
  /* Style your header content with white text color */
  color: white;
}
.kapsa {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
/* body {
  overflow: hidden;
} */
.no-scroll {
  overflow: hidden;
}
.foo{
  margin-top: 850px;
}

